@{
    ViewData["Title"] = "Home Page";
}
 


<section id="hero" class="d-flex align-items-center" >
    <div class="container d-flex flex-column align-items-center"  data-aos="zoom-in" data-aos-delay="100">
        <h1>
            @_localization.Getkey("Welcome").Value
        </h1>

      <h1>Mehmet KALÇIK</h1>
        <h2>Sharepoint Developer & Software Developer</h2>
       
        <a class="btn-about" href="~/cv/cv - mehmet kalçık_en.pdf" target="_blank"><i class="fa fa-download"></i>EN CV</a>
        <a class="btn-about" href="~/cv/cv - mehmet tr.pdf" target="_blank"><i class="fa fa-download"></i>Türkçe CV</a>
       
    </div>
  </section><!-- End Hero -->
