@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="sTitle">Resume</h2>
            <p></p>
        </div>

        <div class="row">
            <div class="col-lg-6">


                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Çukurova University</h4>
                    <h5>2012 - 2016 Computer Engineer </h5>
                    <p><em>Faculty of Engineering and Architecturey, TURKEY, Adana</em></p>
                    <p></p>
                </div>
                <div class="resume-item">
                    <h4>14 Eylul Anatolian High School</h4>
                    <h5>2007 - 2011 / High School Degree</h5>
                    <p><em>Since based high school, TURKEY, Siirt</em></p>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Sharepoint Developer & Software Developer</h4>
                    <h5>2017 - Current</h5>
                    <p><em> </em></p>
                    <p>
                        <ul>
                            <li>I worked as part of a team that developed Sharepoint applications.</li>
                            <li>I have developed custom web part, document libraries, workflows, event receivers, custom timer jobs for intranet and extranet projects. </li>
                            <li>I made the transitions of the appropriate CU packages to the Sharepoint Servers whose operating system was updated.</li>
                            <li>I migrate big data with permission groups (except users) from Sharepoint Onprem to Sharepoint Online with the tools provided by Microsoft.</li>
                            <li>I migrate users who could not migrated by migration tools between different environments using CSOM. </li>
                            <li>I have developed .NET-based web services for Mobile and Web applications.</li>
                            <li>The projects I worked on were corporate and usually large bank projects.</li>
                            <li>The technologies I use are as follows:</li>
                        </ul>
                        <div class="row resumeItem">
                            <div class="col-4">
                                ADO .NET
                            </div>
                            <div class="col-4">
                                MVC
                            </div>
                            <div class="col-4">
                                C#
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                LINQ
                            </div>
                            <div class="col-4">
                                .NET CORE
                            </div>
                            <div class="col-4">
                                MSSQL
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                TFS
                            </div>
                            <div class="col-4">GIT
                            </div>
                            <div class="col-4">MONGODB
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                EF CORE
                            </div>
                            <div class="col-4">
                                ANGULAR
                            </div>
                            <div class="col-4">
                                LINQ
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                SHAREPOINT ONLINE
                            </div>
                            <div class="col-4">JIRA
                            </div>
                            <div class="col-4">
                                SHAREPOINT ON PREM
                            </div>
                        </div>

  
                    </p>
                </div>
              
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
