<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="sTitle">Experiences</h2>
             </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <a target="_blank" href="https://www.magiclick.com/"> <img width="320" height="78" src="~/img/magiclick.png" /> </a>
                     </div>
                    <h4><a href="">Magiclick Digital Solutions</a></h4>
                    <p>Magiclick is a leading technology & design agency helping visionary businesses create great digital services</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                    <div class="icon">
                        <a target="_blank" href="https://www.nuevo.com.tr/">   <img width="320" height="78" src="~/img/nuevo.png" />  </a>
                    </div>
                    <h4><a href="">Nuevo SoftwareHouse </a></h4>
                    <p>
                        Nuevo was founded in 2012 as a software house. Nuevo with its experienced production staff of 130+ people;

                        Custom .Net applications
                        Sharepoint solutions
                        IOS, Android and Windows based mobile applications
                        mobile websites
                        Online trading software
                        Dealer management systems
                        Interface development
                        It provides services in the fields of outsourcing.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-pink">
                    <div class="icon">
                        <a target="_blank"  href="https://www.ogoodigital.com/"><img width="320" height="78" src="~/img/ogoo.png" /></a>
                    </div>
                    <h4><a href="">Ogoo </a></h4>
                    <p>OGOO; is a technology agency that develops "digital transformation" solutions and products in the fields of sales, internal communication, business processes and customer communication.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-yellow">
                    <div class="icon">
                        <a target="_blank" href="https://softtech.com.tr/"><img width="320" height="90" src="~/img/softtech.png" /></a>
                    </div>
                    <h4><a href="">Softtech</a></h4>
                    <p>Through our innovation centers in San Francisco and Shanghai, we aim to become international companies that add value to the society by providing Softlanding services to startups that want to open up to the American and Asian markets from Turkey.</p>
                </div>
            </div>

        
 

        </div>

    </div>
</section><!-- End Services Section -->