@using LastResume.Entity.Models;
@model BlogCard

<div class="container bootstrap snippets bootdey">
    <hr>
    <div class="row">
        <div class="col-xs-12  ">
            <div class="well blog" style="margin:80px">
                <h2>@Model.BlogTitle</h2>
                <p>
                    @Model.BlogLongDesc
                </p>

            </div>
        </div>
    </div>
</div>



