@using LastResume.Entity.Models;

@model BlogCard
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="sTitle">Blog</h2>
            <p></p>
        </div>
        <ul>
            <li>

            </li>
        </ul>
    </div>
</section>